.row
  .col-md-6.col-md-offset-3
    .login
      %h1
        .small_logo
          = image_tag 'logo_small.png'
        Triage
        %hr

      = simple_form_for(resource, :as => :user, :url => create_session_path) do |f|
        .row
          .col-md-10.col-md-offset-2
            .form-inputs
              = f.input :username, :required => false, :autofocus => true
              = f.input :password, :required => false
              = f.input :remember_me, :as => :boolean, :inline_label => 'Remember Me', :label => false


        .row
          .col-md-10.col-md-offset-2
            .pull-right.right
              = render "devise/shared/links"
            = f.button :submit, "Sign in", class: 'btn btn-primary'

