.row
  .comment.col-md-6.col-md-offset-3
    .tag
      Request ##{@comment.request.id}
    %h2
      = @comment.request.title
    %hr
    .row
      .col-md-1.gravatar
        = gravatar_image_tag @comment.user.email, class: 'img-polaroid', gravatar: {size: 32}
      .col-md-11
        %h5
          = pretty_date @comment.created_at
          %br
          %small
            = @comment.user
            \-
            = request_role(@comment.request, @comment.user)
        = enrich @comment.content
