.row-fluid
  .comment.span6.offset3
    .tag
      Request ##{@comment.request.id}
    %h2
      = @comment.request.title
    %hr
    .row-fluid
      .span1.gravatar
        = gravatar_image_tag @comment.user.email, class: 'img-polaroid', gravatar: {size: 32}
      .span11
        %h5
          = pretty_date @comment.created_at
          %br
          %small
            = @comment.user
            \-
            = request_role(@comment.request, @comment.user)
        = enrich @comment.content
