- content_for :nav do
  .well.context-menu
    %ul.nav.nav-list
      %li.nav-header
        = t 'nav.settings'
      %li{ class: ('active' if (params[:controller] == 'settings' && (params[:action] == 'edit_profile' || params[:action] == 'update_profile'))) }
        = link_to edit_profile_path do
          = t 'nav.profile'
      %li{ class: ('active' if (params[:controller] == 'settings' && (params[:action] == 'edit_password' || params[:action] == 'update_password'))) }
        = link_to edit_password_path do
          = t 'nav.password'
