= render 'nav'

.box
  = simple_form_for current_user, as: :user, url: update_profile_path do |f|
    = f.input :email
    = f.input :name
    = f.input :available
    = f.button :submit, class: 'btn-primary', value: t('settings.edit_profile.update_profile')
