= render 'nav'

- if display_password_form?
  .box
    = simple_form_for current_user, as: :user, url: update_password_path do |f|
      = f.input :password
      = f.input :password_confirmation
      = f.button :submit, class: 'btn-primary', value: t('settings.edit_password.update_password')
- else
  .alert
    = t '.password_managed_externally'
