= render 'nav'

.box
  = simple_form_for :user, url: edit_password_path, method: :put do |f|
    = f.input :password
    = f.input :password_confirmation
    = f.button :submit, class: 'btn-primary', value: t('settings.edit_password.update_password')
