- content_for :nav do
  .well.context-menu
    %ul.nav.nav-list
      - if can? :read, Request.new
        %li.nav-header Requests
        %li{ class: ('active' if current_page?(requests_path) or current_page?(root_path)) }
          = link_to requests_path do
            All Requests
        %li{ class: ('active' if current_page?(unassigned_requests_path)) }
          = link_to unassigned_requests_path do
            Unassigned Requests
      %li.nav-header My Requests
      %li{ class: ('active' if current_page?(open_requests_path) ) }
        = link_to open_requests_path do
          Open Requests
      %li{ class: ('active' if current_page?(closed_requests_path) ) }
        = link_to closed_requests_path do
          Closed Requests
      %li.nav-header My Assignments
      %li{ class: ('active' if current_page?(open_assignments_path) ) }
        = link_to open_assignments_path do
          Open Assignments
      %li{ class: ('active' if current_page?(closed_assignments_path) ) }
        = link_to closed_assignments_path do
          Closed Assignments
