- content_for :nav do
  .well.context-menu
    %ul.nav.nav-list
      %li.nav-header Requests
      %li{ class: ('active' if current_page?(requests_path) or current_page?(root_path)) }
        = link_to requests_path do
          All Requests
      %li{ class: ('active' if current_page?(open_requests_path) ) }
        = link_to open_requests_path do
          My Open Requests
      %li{ class: ('active' if current_page?(closed_requests_path) ) }
        = link_to closed_requests_path do
          My Closed Requests
      %li.nav-header Assignments
      %li{ class: ('active' if current_page?(open_assignments_path) ) }
        = link_to open_assignments_path do
          My Open Assignments
      %li{ class: ('active' if current_page?(closed_assignments_path) ) }
        = link_to closed_assignments_path do
          My Closed Assignments
