%li.request
  = link_to request do
    %div
      %span.avatar
        = gravatar_image_tag request.requester.email, class: 'img-polaroid', gravatar: {size: 32}
      %span.request_id
        %small
          = "# #{request.id}"
          %br
          - unless request.assignee.nil?
            = gravatar_image_tag request.assignee.email, gravatar: {size: 12}
            = request.assignee.name
      %span
        %h5
          = request.title
        %small.light
          = request.requester.name
