%h2
  = t '.new_request'

.request
  = simple_form_for @request do |f|
    = f.input :title
    = f.input :description
    = f.association :system
    = f.button :submit, :class => 'btn-primary', value: t('.create_request')
