- content_for :nav do
  .well.context-menu
    %ul.nav.nav-list
      %li.nav-header Actions
      - if can? :edit, @request
        %li
          %a{ href: '#reassign_modal', data: {toggle: 'modal'}}
            %i.icon-share
            Re-assign
      %li
        %a{ href: '#change_status_modal', data: {toggle: 'modal'}}
          %i.icon-info-sign
          Change Status
      %li
        %a{ href: '#edit_details_modal', data: {toggle: 'modal'}}
          %i.icon-pencil
          Edit Details
      %li
        %a{ href: '#add_comment_modal', data: {toggle: 'modal'}}
          %i.icon-comment
          Add Comment

%h2
  = @request
%dl.dl-horizontal
  %dt Status
  %dd
    %span.label{ class: (label_class @request.status) }
      = @request.status
  %dt System
  %dd 
    = @request.system
  %dt Requested By
  %dd 
    = @request.requester
  %dt Requested On
  %dd 
    = pretty_date @request.created_at
  %dt Assigned To
  %dd 
    = @request.assignee ? @request.assignee : 'Unassigned'
%h5
  Description
= @request.description

%hr

.comments
  %h4 Comments

  - @request.comments.each do |comment|
    .comment
      .row-fluid
        .span1
          = gravatar_image_tag comment.user.email, class: 'img-polaroid', gravatar: {size: 32}
        .span11
          %h5
            = pretty_date comment.created_at
            %br
            %small
              = comment.user
          = comment.content

#reassign_modal.modal.hide.fade
  = simple_form_for [@request] do |f|
    .modal-header
      %h3 Re-assign Request
    .modal-body
      = f.association :assignee
    .modal-footer
      %a.btn{href: '#', data: {dismiss: 'modal'}}
        Close
      = f.button :submit, class: 'btn-primary', value: 'Re-Asssign'

#change_status_modal.modal.hide.fade
  = simple_form_for [@request] do |f|
    .modal-header
      %h3 Change Status
    .modal-body
      = f.association :status
    .modal-footer
      %a.btn{href: '#', data: {dismiss: 'modal'}}
        Close
      = f.button :submit, class: 'btn-primary', value: 'Change'

#edit_details_modal.modal.hide.fade
  = simple_form_for [@request] do |f|
    .modal-header
      %h3 Edit Details
    .modal-body
      = f.input :title
      = f.input :description
    .modal-footer
      %a.btn{href: '#', data: {dismiss: 'modal'}}
        Close
      = f.button :submit, class: 'btn-primary', value: 'Edit Details'

#add_comment_modal.modal.hide.fade
  = simple_form_for [@request, @request.comments.new] do |f|
    .modal-header
      %h3 Add Comment
    .modal-body
      = f.input :content, input_html: {rows: 5}, label: false
    .modal-footer
      %a.btn{href: '#', data: {dismiss: 'modal'}}
        Close
      = f.button :submit, class: 'btn-primary', value: 'Add Comment'
