- content_for :nav do
  .well.context-menu
    %ul.nav.nav-list
      %li.nav-header
        = t '.actions.modify'
      - if can? :edit, @request
        %li
          %a{ href: '#reassign_modal', data: {toggle: 'modal'}}
            %i.icon-share
            = t '.actions.reassign'
      %li
        %a{ href: '#change_status_modal', data: {toggle: 'modal'}}
          %i.icon-info-sign
          = t '.actions.change_status'
      %li
        %a{ href: '#edit_details_modal', data: {toggle: 'modal'}}
          %i.icon-pencil
          = t '.actions.edit_details'
      %li.nav-header
        = t '.actions.add'
      %li
        %a{ href: '#add_comment_modal', data: {toggle: 'modal'}}
          %i.icon-comment
          = t '.actions.comment'
      %li
        %a{ href: '#add_attachment_modal', data: {toggle: 'modal'}}
          %i.icon-file
          = t '.actions.attachment'

.request
  %span.tag<
    = t '.request_number'
    = @request.id
  %h2.title
    = @request.title
  %small.creation_details
    created by
    = @request.requester
    = time_ago_in_words @request.created_at
    ago
  .row.details
    .col-md-4
      %dl.dl-horizontal
        %dt
          = t '.status'
        %dd
          %span.label{ class: (label_class @request.status) }
            = @request.status
        %dt
          = t '.severity'
        %dd
          %span.label{ class: (severity_class @request.severity) }
            = t ".severities.#{@request.severity}"
    .col-md-8
      %dl.dl-horizontal
        %dt
          = t '.system'
        %dd 
          = @request.system
        %dt
          = t '.assigned_to'
        %dd 
          = @request.assignee ? @request.assignee : t('.nobody')
  %h5
    = t '.description'
  = @request.description

  - unless @request.comments.empty?
    %hr

    .comments
      %h4
        = t '.comments'

      - @request.comments.each_with_index do |comment, index|
        - unless index == 0
          %hr
        .comment
          .row
            .col-md-1.gravatar
              = gravatar_image_tag comment.user.email, class: 'img-polaroid', gravatar: {size: 32}
            .col-md-11
              %h5
                = comment.user
                \-
                = request_role(@request, comment.user)
                %br
                %small
                  = time_ago_in_words comment.created_at
                  ago
              = enrich comment.content

#reassign_modal.modal.hide.fade
  = simple_form_for [@request] do |f|
    .modal-header
      %h3
        = t '.modal.reassign_request'
    .modal-body
      = f.association :assignee, label: false
    .modal-footer
      %a.btn{href: '#', data: {dismiss: 'modal'}}
        = t '.modal.close'
      = f.button :submit, class: 'btn-primary', value: t('.modal.reassign')

#change_status_modal.modal.hide.fade
  = simple_form_for [@request] do |f|
    .modal-header
      %h3
        = t '.modal.change_status'
    .modal-body
      = f.association :status, label: false
    .modal-footer
      %a.btn{href: '#', data: {dismiss: 'modal'}}
        = t '.modal.close'
      = f.button :submit, class: 'btn-primary', value: t('.modal.change')

#edit_details_modal.modal.hide.fade
  = simple_form_for [@request] do |f|
    .modal-header
      %h3
        = t '.modal.edit_details'
    .modal-body
      = f.input :title
      = f.input :description
    .modal-footer
      %a.btn{href: '#', data: {dismiss: 'modal'}}
        = t '.modal.close'
      = f.button :submit, class: 'btn-primary', value: t('.modal.edit_details')

#add_comment_modal.modal.hide.fade
  = simple_form_for [@request, @request.comments.new] do |f|
    .modal-header
      %h3
        = t '.modal.add_comment'
    .modal-body
      = f.input :content, input_html: {rows: 5}, label: false
    .modal-footer
      %a.btn{href: '#', data: {dismiss: 'modal'}}
        = t '.modal.close'
      = f.button :submit, class: 'btn-primary', value: t('.modal.add_comment')

#add_attachment_modal.modal.hide.fade
  = simple_form_for [@request, Attachment.new], :html => {:multipart => true}   do |f|
    .modal-header
      %h3
        = t '.modal.add_attachment'
    .modal-body
      = f.input :title
      = f.input :file, label: false
    .modal-footer
      %a.btn{href: '#', data: {dismiss: 'modal'}}
        = t '.modal.close'
      = f.button :submit, class: 'btn-primary', value: t('.modal.add_attachment')

- if @request.attachments.count > 0
  - content_for :sidebar do
    .sidebar
      %h5
        = t '.attachments'
      %ul#attachments
        - @request.attachments.each do |attachment|
          %li
            %i.icon-file
            = link_to attachment.file.url do
              = attachment.title
            .pull-right
              = link_to request_attachment_path(attachment),  { class: 'pull-right', method: 'delete' }  do
                %i.icon-remove
