- content_for :nav do
  .well.context-menu
    %ul.nav.nav-list
      %li.nav-header Actions
      %li
        %a{ href: '#' }
          %i.icon-comment
          Add Comment

%h2
  = @request
.row-fluid
  .span4
    %dl.dl-horizontal
      %dt Status
      %dd
        %span.label
          = @request.status
      %dt System
      %dd 
        = @request.system
      %dt Requested By
      %dd 
        = @request.requester
      %dt Requested On
      %dd 
        = @request.created_at.strftime "%B #{@request.created_at.day.ordinalize}, %Y at %l:%M%P"
      %dt Assigned To
      %dd 
        = @request.assignee ? @request.assignee : 'Unassigned'
  .span4
%h5
  Description
= @request.description
