- content_for :nav do
  .well.context-menu
    %ul.nav.nav-list
      %li.nav-header Actions
      %li
        %a{ href: '#add_comment_modal', data: {toggle: 'modal'}}
          %i.icon-comment
          Add Comment

%h2
  = @request
%dl.dl-horizontal
  %dt Status
  %dd
    %span.label
      = @request.status
  %dt System
  %dd 
    = @request.system
  %dt Requested By
  %dd 
    = @request.requester
  %dt Requested On
  %dd 
    = pretty_date @request.created_at
  %dt Assigned To
  %dd 
    = @request.assignee ? @request.assignee : 'Unassigned'
%h5
  Description
= @request.description

%h4 Comments

- @request.comments.each do |comment|
  .comment
    .row-fluid
      .span1
        = gravatar_image_tag comment.user.email, class: 'img-polaroid', gravatar: {size: 32}
      .span11
        %h5
          = pretty_date comment.created_at
          %br
          %small
            = comment.user
        = comment.content

#add_comment_modal.modal.hide.fade
  = simple_form_for [@request, @request.comments.new] do |f|
    .modal-header
      %h3 Add Comment
    .modal-body
      = f.input :content, input_html: {rows: 5}, label: false
    .modal-footer
      %a.btn{href: '#', data: {dismiss: 'modal'}}
        Close
      = f.button :submit, class: 'btn-primary'
