%h2
  = @request
%dl.dl-horizontal
  %dt Status
  %dd 
    = @request.status
  %dt Requested By
  %dd 
    = @request.requester
  %dt Assigned To
  %dd 
    = @request.assignee ? @request.assignee : 'Unassigned'

%h5
  Description
= @request.description
