.row
  .span6.offset3
    .login
      %h1.center
        Triage
        %hr

      = simple_form_for(resource, :as => :user, :url => session_path(resource_name)) do |f|
        .row-fluid
          .span10.offset2
            .form-inputs
              = f.input :username, :required => false, :autofocus => true
              = f.input :password, :required => false
              = f.input :remember_me, :as => :boolean, :inline_label => 'Remember Me', :label => false


        .row-fluid
          .span10.offset2
            .pull-right.right
              = render "devise/shared/links"
            = f.button :submit, "Sign in", class: 'btn btn-primary'

