!!! 5
%html
  %head
    %title Manzier
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top
      .navbar-inner
        %a.brand{ :href => '#' } Manzier
        - if current_user
          %ul.nav
            %li{:class => ('active' if (params[:controller] == 'requests' and params[:action] != 'new'))}
              = link_to t('navbar.requests'), requests_path
            %li{:class => ('active' if current_page?(new_request_path))}
              = link_to t('navbar.new_request'), new_request_path
          %ul.nav.pull-right
            - if current_user.role = 'administrator'
              %li
                = link_to t('navbar.admin'), rails_admin_path
            %li
              = link_to t('navbar.logout'), destroy_user_session_path, :method => :delete
        - else
          %ul.nav.pull-right
            %li
              = link_to t('navbar.login'), new_user_session_path
    .container-fluid
      .row-fluid
        .span2
          = yield :nav
        .span7
          / Flash messages
          - if flash[:notice]
            .alert.alert-info
              = flash[:notice]
          - if flash[:alert]
            .alert.alert-error
              = flash[:alert]
          - if flash[:error]
            .alert.alert-error
              = flash[:error]
          = yield
        .span3
          = yield :sidebar
